.register-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 1rem;
}

.register-form {
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.register-submit-button {
    display: flex;
    justify-content: center;
}

.register-form input[type='email'],
.register-form input[type='password']{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-form input[type='submit'] {
    width: 30%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-form input[type='submit'] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.register-form input[type='submit']:hover {
    background-color: #0056b3;
}